<div class="ui-g">
  <table class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 scanmode-table-cls">
    <thead>
        <th colspan="3">{{name}}</th>
    </thead>
    <tbody *ngFor="let mode of scanmode">
      <tr>
        <td class="ui-sm-5 ui-md-5 ui-lg-5 ui-xl-5">
          <p-radioButton [name]="name" value="val1" [label]="mode.masterName"></p-radioButton>
        </td>
        <td class="ui-sm-2 ui-md-2 ui-lg-2 ui-xl-2 line-td-class">
          <div class="line-div-class"></div>
        </td>
        <td class="ui-sm-5 ui-md-5 ui-lg-5 ui-xl-5">
          <p-radioButton [name]="name" value="val2" [label]="mode.targetName"></p-radioButton>
        </td>
      </tr>
    </tbody>
  </table>
</div>
