<div class="ui-g">
  <table class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 scanmode-table-cls">
    <thead>
      <th colspan="3">{{name}}</th>
    </thead>
    <tbody #tb *ngFor="let mode of scanmode; let i=index;">
      <tr>
        <td class="ui-sm-5 ui-md-5 ui-lg-5 ui-xl-5 left-td-cls">
          <p-checkbox #leftRdBt [name]="name+name" [binary]="true" [(ngModel)]="leftcheckbox[i]" (onChange)="onLeftRadioButtonClick($event,linediv,leftRdBt)"
            styleClass="radio-button-cls" [label]="mode.masterName"></p-checkbox>
        </td>
        <td class="ui-sm-2 ui-md-2 ui-lg-2 ui-xl-2 line-td-class">
          <div #linediv class="line-div-class" [id]="i"></div>
          <!--<span>{{i}}</span>-->
        </td>
        <td class="ui-sm-5 ui-md-5 ui-lg-5 ui-xl-5 right-td-cls">
          <p-checkbox #rightRdBt [name]="name" [binary]="true" [(ngModel)]="rightcheckbox[i]" (onChange)="onRightRadioButtonClick($event,linediv,rightRdBt)"
            styleClass="radio-button-cls" [label]="rightValue[i]"></p-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>
