/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
body{
    padding: 0px;
	background:transparent;
	/*font-size:13pt;	*/
	-webkit-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;	
	user-select:none;
	-ms-user-select:none;
}
.entry-div{
    height:99vh;
    overflow-y: hidden;
}
.request-list-cls{
    /*width:98vw;*/
    overflow-x: auto;
}
.compare-panel-cls{
    height:40vh !important;
    width:97vw;
    overflow: auto;
    border: 1px solid #D5D5D5;
    /*background:#4286f4;*/
}

.ui-datatable table{
    table-layout: auto !important; /**table-layout: adjust table style**/
}

.compare-panel-header-cls{
    /*height:4vh;*/
    min-height: 50px;
    width:97vw;
    border: 1px solid #D5D5D5;
    border-bottom: 0;
    background:linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}

.compare-panel-footer{
    height:5vh;
    width:97vw;
    border: 1px solid #D5D5D5;
    background:linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}

.ui-treetable table{
    border:0;
    background:transparent;
}

.button-align-right-cls{
    top:0.7em; 
}

.parameter-list-cls .ui-treetable table thead{
    height:0px !important;
    border:0px;
    padding:0px;
    margin:'0 0 0 0';
}

.parameter-list-cls .ui-treetable table thead th{
    height:0px !important;
    border:0px;
    padding:0px;
    margin:'0 0 0 0';
}
/*.ui-button-danger:hover{
    background:#D82621 !important;
    border:1px solid #D82621 !important;
}
.ui-button-danger:active {
    background:#d9534f !important;
    border:1px solid #d9534f !important;
}*/

/*.button-align-right-cls:hover{
    background:  
}*/
.buttons-container-cls{
    float: right;
    border: 0;
}

.ui-treetable tbody .ui-treetable-row td{
    border-bottom: 1px solid #d9d9d9;
    border-left: 0px;
    border-right:0px;
    border-top:0px;
}

.ui-treetable tbody .ui-treetable-row td:even{
    background-color: #eeeeee
}
.ui-treetable tbody .ui-treetable-row td:odd{
    background-color: #ffffff
}

.float-right-button{
    float:right;
    top:0.6em;
}

.parameter-list-cls thead {
    display: none;
}

.toogle-button-cls .ui-togglebutton .ui-state-defaul{
    border: 1px solid #1f89ce;
    background: #1f89ce !important;
    font-weight: normal;
    color: #1f89ce;
}

.ui-dialog .ui-dialog-footer{
    border:0;
}

.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
    color:#186ba0 !important;
}
 /*.ui-dialog{
     width:90% !important;
 }*/


/**responsive styles**/
/**Small devices like phones**/
@media screen and (max-width: 40em){ /**640px**/
    .ui-datatable table {
        table-layout: inherit;
    }
}
/**Medium sized devices such as tablets**/
@media screen and (min-width: 40.063em) and (max-width: 64em){/**641px~1024px**/
    
}
/**Devices with large screen like desktops**/
@media screen and (min-width: 64.063em) and (max-width: 90em){/**1025px~1440px**/
    
}
/**Big screen monitors**/
@media screen and (min-width: 90.063em) {
    
}

