td.td-resize-line
{
	padding:0px;
	height:27px;
	width:5px;
	text-align: center;
	border:0px;
	border-left:2px solid #93AEDB;
	border-right:2px solid #93AEDB;
	background-color:#ABC0E2;
	cursor:e-resize;
}

td.master-resize-line
{
	padding:0px;
	height:27px;
	width:5px;
	text-align: center;
	border:0px;
	border-left:2px solid #4F81BD;
	border-right:2px solid #4F81BD;
	background-color:#ABC0E2;
}